@model TimeCare.Models.WorkSchedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkSchedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReminderDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReminderDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkScheduleTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkScheduleTypeId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkScheduleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
