@model TimeCare.Models.TrainSchedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrainSchedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReminderDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReminderDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainScheduleTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainScheduleTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangeoverTimeBefore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangeoverTimeBefore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChangeoverTimeAfter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChangeoverTimeAfter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrainScheduleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
